@font-face {
    src:url("../../flappybirdy-font/Flappy-Bird.ttf");
    font-family:'flappyBird';
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
canvas{
    z-index: 0;
}
div{
    position: relative;
    width: 360px;
    margin: 0 auto;
    height: 500px;
    margin: 0;
    padding: 0;
    text-align: center;
}
span{
    font-family: flappyBird;
    position: absolute;
    z-index: 10;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
    text-align: center;
    width: 100%;
    left: 0;
    top: 20px;
}
.hidden{
    display: none;
}
.mudarPosicao{
    font-size: 30px;
    top: 176px;
    left: 19%;
}
@media (max-width:360px){
    .mudarPosicao {
        top: 176px;
        left: 66%;
        width: 21px;
    }
}